.trending-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.movie-card {
    list-style: none;
}

.movie-title {
    font-size: 10px;
}

.movie-rating {
    font-size: 10px;
}