.edit-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.save-btn {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 1rem;
}

.edit-input {
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.file-upload {
    margin: 1rem;
    border: none;

}
