.navigation-outer-wrapper {
    display: flex;
    color: white;
    background-color: black;
    padding-right: 1rem;
    /*border: 1px solid red;*/
}

.nav-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.nav-bar {
    display: flex;
    list-style: none;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login-register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.auth-button {
    background-color: darkred;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}


.nav-link {
    text-decoration: none;
}

.nav-link:visited {
    text-decoration: none;
    color: white;
}

.cinemasavy {
    color: darkred;
}