.watchlist-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 3rem;
  flex-wrap: wrap;
}

.watchlist-main {
  display: flex;
flex-direction: column;
  align-items: center;
  gap: 1rem;
}